<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1062265114459-2hiqdjnl9lkbao4fqai0h5h3inj818p1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1062265114459-2hiqdjnl9lkbao4fqai0h5h3inj818p1</string>
	<key>API_KEY</key>
	<string>AIzaSyAkUe5dsO9pIB0eOrVf3XTN2Nb4wtGocOM</string>
	<key>GCM_SENDER_ID</key>
	<string>1062265114459</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.luxaplex.Trackizer</string>
	<key>PROJECT_ID</key>
	<string>tracker-5d987</string>
	<key>STORAGE_BUCKET</key>
	<string>tracker-5d987.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1062265114459:ios:4a1f17bbe000d9bed9147e</string>
</dict>
</plist>